.App{
  text-align: -webkit-center;
}
.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

body{
  background: #F8F8F8;
}

.jumbotron{
  background: #EDECEB;
}

p{
  color: #212529!important;
  font-family: Roboto;
}
input:focus{
  outline: 0 none !important;
}

.input-group{
  outline: 0 none !important;
  font-family: Roboto;
}

blockquote{
  width: 500px;
  background: white;
  align-items: center;
  position: relative;
  font-family: Roboto;
}

.datadisplay{
  text-align: -webkit-center;
  margin-top: 20px;
  border-radius: 50px;
  font-family: Roboto;
}



.navbar-default {
  background-color: transparent !important;
  border: none !important;
}

h1, a, strong, h3, h2, h4{
  font-family: Roboto !important;
}

.btn-primary {
  color: #fff;
  background-color: #FFA35F !important;
  border: none;
  height: 34px;
  
}
i{
  box-sizing: border-box;
}
.btn{
  border-color: none !important;
}

.form-control{
  border: none !important;
}

.text-muted{
  position: fixed !important; 
  bottom: 0px;
  right: 10px;
}

.chart{
  padding-top: 50px !important;
}

.percent{
  text-align: center;
  align-items: center;
}


.infoshow{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  align-content: center;

}

.row{
  display: block;
  align-content: center;
}

.container{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  align-content: center !important;
}
.chartjs-size-monitor{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  align-content: center !important;
}

.nova{
  display: inline-block;
  margin-left: auto !important;
  margin-right: auto !important;
  align-content: center !important;
}