<!DOCTYPE html>
  <div class="container" ng-if="landingpage" style="margin-top:50px">
    <div class="row">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Positweet!</h1>
        <p class="lead">This is a powerfull metadata searcher that can calculate the positivism of Twitter tweets.</p>
        <hr class="my-4">
        <p>Try it now to calculate the level of positivism of any user!.</p>
        <p class="lead">
          <form style="width: 500px">
            <div class="input-group ">
                <input type="text" class="form-control" ng-model="query.user" placeholder="Username">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="getData(query.user)" ><i class="material-icons">search</i></button>
                </span>
            </div>
          </form>
        </p>
      </div>
    </div>
  </div>

  <div class="App" ng-if="dadesrebudes">
      <form style="width: 500px">
          <div class="input-group ">
              <input type="text" class="form-control" ng-model="query.user" placeholder="Username">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary" ng-click="getData(query.user)" ><i class="material-icons">search</i></button>
              </span>
          </div>
        </form>
  </div>




    <div ng-if="dadesrebudes" style="padding-top: 70px">
      <div class="container infoshow">
        <div class="row">
            <div class="col-lg-4 nova">
                <div class="col-sm-12 infoshow">
                    <img src='{{userProfile.profile_image_url}}' style="border-radius: 50%; height: 250px"/>
                </div>
                <div class="col-sm-12 infoshow">
                    <h2 style="margin-bottom: 5px">{{userProfile.name}}</h2>
                </div>
                <div class="col-sm-12 infoshow">
                    <h3 style="margin-top: 0">@{{userProfile.screen_name}}</h3>
                </div>
                <div class="col-sm-12 infoshow">
                    <span>{{userProfile.description}}</span>
                </div>
                <div class="col-sm-12 infoshow">
                    <strong>{{userProfile.followers_count}} Followers - {{userProfile.friends_count}} Following</strong>
                </div>
            </div>






            <div class="col-lg-4 chart" >
              <canvas id="donutChart" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" style="height: auto; width:30em"></canvas>
              <h3 class="percent">{{userInfo.averageScore}}%</h3>
            </div>






            <div class="col-lg-4" style="padding-top: 50px; padding-bottom: 50px">
                <div class="alert alert-success">
                    <strong>Best Tweet 😊:</strong>
                    <p>{{userInfo.bestTweet}}</p>
                </div>

                <div class="alert alert-danger">
                    <strong>Worst Tweet 😔:</strong>
                    <p>{{userInfo.worstTweet}}</p>
                </div>
            </div>
          </div>
        </div>
    </div>

