<!DOCTYPE html>
  <div>
    <form >
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="query.user" placeholder="Username">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-click="getData(query.user)" >Search</button>
                    </span>
                </div>
            </div>
        </div>
    </form>


    <div ng-if="dadesrebudes" style="margin-left: 100px">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-12">
                    <img src='{{userProfile.profile_image_url}}' style="border-radius: 50%; height: 400px"/>
                </div>
                <div class="col-sm-12">
                    <h2 style="margin-bottom: 5px">{{userProfile.name}}</h2>
                </div>
                <div class="col-sm-12">
                    <h3 style="margin-top: 0">@{{query.user}}</h3>
                </div>
                <div class="col-sm-12">
                    <span>{{userProfile.description}}</span>
                </div>
                <div class="col-sm-12">
                    <strong>{{userProfile.followers_count}} Followers - {{userProfile.friends_count}} Following</strong>
                </div>
            </div>
            <div class="col-sm-4">
                <canvas id="donutChart" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" style="height: 450px; width: 220px "></canvas> 
            </div>
            <div class="col-sm-4">      
                <div class="alert alert-success">
                    <p>Best Tweet:</p>
                    <p>{{userInfo.bestTweet}}</p>
                </div>
          
                <div class="alert alert-danger">
                    <p>Worst Tweet:</p>
                    <p>{{userInfo.worstTweet}}</p>
                </div>
            </div>
          </div>
    </div>
  </div>